<div class="list-group">
<% chronicle.each do |entry| %>
  <% if entry.kind_of?(Earning) %>
    <%= render :partial => 'chronicles/earning', :locals => {:entry => entry} %>
  <% elsif entry.kind_of?(Redemption) %>
    <%= render :partial => 'chronicles/redemption', :locals => {:entry => entry} %>
  <% end %>
<% end %>
</div>
