<% quests.in_groups_of(10) do |grouped_quests| %>
  <div class="row">
    <%= render({
      :partial    => 'hackers/quests/show', 
      :collection => grouped_quests.compact, 
      :as         => :quest
    }) %>
  </div>
<% end %>
