<% rewards.in_groups_of(10) do |grouped_rewards| %>
  <div class="row">
    <%= render({
    :partial    => 'hackers/rewards/show',
    :collection => grouped_rewards.compact,
    :as         => :reward
    }) %>
  </div>
<% end %>
