<ul class="nav nav-tabs">
  <li class="active"><a href="#">recent points</a></li>
  <li><a href="#">all points</a></li>
  <li><a href="#">nickname</a></li>
</ul>

<div class="container-fluid">
  <% @hackers.in_groups_of(5) do |hackers| %>
    <div class="row">
      <%= render({
        :partial    => 'hacker',
        :collection => hackers.compact,
        :as         => :hacker
      }) %>
    </div>
  <% end %>
</div>

