<a
  data-method="post" rel="nofollow" 
  href="<%= earn_reward_path(:hacker => hacker, :reward => reward) %>"
  >
  <div class="btn btn-default col-md-3 reward-button">
    <div class="row">
      <div class="col-xs-2">
        <!-- TODO: should be replaced with paperclip gem -->
        <span class="glyphicon">
          <%=image_tag reward.image.url(:thumb) %>
        </span>
      </div>
      <div class="col-xs-7">
        <%= reward.title %>
      </div>
      <div class="col-xs-2">
        <%= reward.points %>
      </div>
    </div>
  </div>
</a>
