<div class="list-group-item list-group-item-danger row">
  <span class="col-md-1">
  </span>
  <span class="col-md-1 col-md-offset-1">
    <%= entry.points %>
  </span>
  <span class="col-md-3">
    <%= l(entry.created_at, :format => :short) %>
  </span>
  <span class="col-md-6">
    <%= entry.chronicle_text %>
  </span>
</div>
